@{
    ViewData["Title"] = "Huren";
}
<div class="text-white">
    <div class="d-flex justify-content-between">
        <h2>Huur een auto!</h2>

        <select id="sortCars" class="custom-select w-25" onchange="Sort(this)">
            <option value="none">Niet sorteren</option>
            <option value="lowclass">Lage klasse</option>
            <option value="midclass">Middel klasse</option>
            <option value="highclass">Luxe klasse</option>
            <option value="price-lowigh">Sorteer op prijs (laag -> hoog)</option>
            <option value="price-highlow">Sorteer op prijs (hoog -> laag)</option>
        </select>
        <script>
            document.getElementById("sortCars").value = "@ViewBag.CarClass";
            function Sort(select) {
                location.replace(location.protocol + "//" + location.host + "/Rent/Index/" + select.value);
            }
        </script>

        @if (ViewBag.IsAdmin)
        {
            <a class="btn btn-danger font-weight-bold h-75" asp-action="Add" asp-controller="Car">Voeg auto toe</a>
        } 
    </div>

    <div id="carList" class="mt-4">
        @foreach (var car in ViewBag.Cars)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">@car.Brand @car.Type</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Kenteken: @car.LicensePlate</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Dagprijs: €@car.DayPrice</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Klasse: @car.Class</h6>

                    <div class="cardButtons mt-3">
                        <a asp-action="NewRent" asp-controller="Rent" asp-route-licenseplate="@car.LicensePlate" class="card-link btn btn-primary">Huur nu</a>

                        @if (ViewBag.IsAdmin)
                        {
                            <form id="removeCarForm-@car.LicensePlate" asp-action="Remove" asp-controller="Rent">
                                <input hidden type="text" name="licensePlate" value="@car.LicensePlate" />
                                <a class="card-link btn btn-danger" href="javascript:document.getElementById('removeCarForm-@car.LicensePlate').submit()">Verwijderen</a>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    #carList {
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .card {
        color: black;
        margin-bottom: 1.5rem;
    }

    .cardButtons {
        display: flex;
        justify-content: space-between;
    }
</style>